.container {
    display: flex;
    align-items: center;
    width: 99%;
    height: 60px;
}

.container button {
    width: 70px;
    padding: 8px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: aqua;
}

.container input {
    flex: 1;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
}